* {
    font-family:Georgia, 'Times New Roman', Times, serif;
} 

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
 
body {
    margin:0 ; 
}

.header{
background-color: #1f2937;
margin-bottom: 150px; 
color: white; 
/* padding-bottom: 50px; */
}

.header-inner-container {
    width:60%;
    margin:auto;
    display:flex;
    flex-direction: column;
    gap:80px;
    padding-bottom: 80px;
}

.header-nav-bar {
    display:flex; 
    justify-content: space-between;
}

.header-nav-bar  {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.header-horizontal-hero-section {
        display: flex; 
        gap:32px;
        align-items: center;
}

.main-title {
    margin:0;
}
 
.subtext {
    margin-top:0;
}

.hero-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-sgnup-button {
    background: none;
    background-color: #3882f6;
    border-color: #3882f6;
    /* border: 1px solid white;  */
    border-radius: 8px;
    padding: 16px 24px;
    font: inherit;
    font-size: 12px;
    color: inherit;
    cursor: pointer;
/* align-self: flex-start; */
    width: fit-content; 
}

.hero-right-container { 
    background-color: gray;
    color: white;
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    /* margin-bottom: 80px;  */
}

.nav-links {
display: flex;
gap:16px;
text-align: right;
}

.random-info-section {
background-color: white;
padding-top: 40px;
padding-bottom: 60px;
}

.random-info-inner-section{
    width: 60%;
    margin: auto;
}

.random-info-text {
    text-align: center;
    margin-bottom: 40px;
    color: #1f2937;
}

.outer-horizontal-flex-container {
display: flex;
flex-direction: row ;
gap: 16px;
}

.inner-vertical-flex-container {
    display: flex;
    flex-direction: column ;

}

.blue-box {
border: 2px solid #3882f6;
border-radius: 8px;
height:100px;
}

.caption {
    text-align: center ;
    font-size: 10px ;
    color:#1f2937;
}

.quote-inner-container {
    width:60%;
    margin:auto; 
}


.quote-section {
    background-color: #e5e7eb;
    /* text-align: center; */
    padding: 80px 0;
    /* text-align: center; */

}

.quote {
    margin: 0;
    color:#1f2937;
    font-size: 36px;
    font-weight: 100;
}

.author {
    margin-bottom:0;
    text-align: end;
    font-size: 18px;
    color:#1f2937;
    
}

.call-to-action-section {
    padding: 40px 0;
    background-color: white;
}

.call-to-action-container {
background-color: #3882f6;
width: 60%;
margin: auto;
padding: 24px 40px ;
border-radius: 8px; 
}

.call-to-action-inner-container {
    display:flex;
    color: white;
    justify-content: center;
    gap: 32px

}

.call-to-action-text-vertical-container {
    display:flex;
    flex-direction:column;
    gap:8px;
}

.call-to-action-text-vertical-container p {
    margin: 0;
    color: white;
}

.call-to-action-text{
    margin:0;  
}

.signup-button {
    background: none;
    border: 1px solid white; 
    border-radius: 8px;
    font: inherit;
    font-size: 12px;
    color: inherit;
    cursor: pointer;
}

.footer {
     background-color: #1f2937;
     color: white;
     text-align: center;
     /* justify-content: center; */
     padding: 0;
     padding: 48px 24px;
     /* align-items: center; */
     /* display: flex; */
     /* margin: 0; */
}

